body{
    overflow-x: hidden;

}
.a{
    border-radius:5%;
  
    
}
.navbar{
    background-color: orange;
}
.b{
   font-family:'Kaushan Script', cursive;
    color: rgb(246, 120, 31);
    font-size: 30px;
    font-weight: bolder;
}
.c{
    color: black;
    font-weight:700;
}
.one{
    border-radius:2%;
}
.two{
    color: rgba(131, 131, 131, 0.835);
    font-size: small;
}
.d{
    color: aliceblue;
    background-color: rgb(5, 92, 200);
    border-radius: 25%;
    margin-top: 20px;
    border-style: none;
    
}
.d:hover{
    color: rgb(241, 116, 28);    
}
.three{
    border-radius:2%;
    height:500px;
    width: 100%;
    
}
.g1{
    background-image: url(images/bg2.jpg);
    color: chocolate;
   height: 60vh;
}
.g2 a{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
}
.g3{
    border-radius: 15px;
}